---
title: DAD - Exotic Snow Leopard
layout: 'base.njk'
--- 

<main>
  <div class="custom-gradient" id="section_a">
    <div class="container pt-5">
      <div class="row align-items-center justify-content-between pt-0 pt-lg-5">
        <div class="col-12">
          <h1 class="text-black text-center mb-4 pb-2">Exotic Snow Leopard</h1>
        </div>
        <div class="col-lg-6 col-md-8 col-12">
          <h4 class="mb-lg-4 mb-4 text-black">Booking ID - 54322</h4>
          <div class="custom-block-image-wrap">
            <img src="/assets/images/journeys/exotic_snow_leopard.jpg" class="custom-block-image img-fluid" alt="" />
          </div>
          <div class="mt-4">
            <!-- <h3 class="mb-3">Exclusively Designed for Ladies</h3> -->
            <p class="text-justify">
              Embark on an extraordinary journey to the heart of the Himalayas with our "Exotic Snow Leopard" tour in Leh, India, a one-of-a-kind adventure crafted <strong>exclusively for the adventurous and spirited ladies</strong> out there.
              This 11-night, 12-day expedition will immerse you in the mystical beauty of Leh, taking you through a tapestry of landscapes and experiences that will leave you awe-inspired.
            </p>
          </div>
          <div>
            <h6 class="text-black">Note:</h6>
            <ul>
              <li class="text-white text-justify">Individual health should be fit for high altitude walk and hiking. Any special need for health attention and health conditions should be informed before booking.</li>
              <li class="text-white text-justify">All rooms and services subject to availability and weather conditions.</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5 col-md-8 col-12">
          <div class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" href="#collapseOne" aria-controls="collapseOne"> Day 1 : Shanti stupa, Tsemo Gonpa </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne" data-bs-parent="#accordion">
                <div class="panel-body">
                  <p class="text-justify">
                    Arrival at Leh. Acclimatisation day at 3500 m altitude. Pick up by our staff at the airport, transfer to the hotel. Afternoon sightseeing by car of shanti stupa, Tsemo Gonpa (monastery) then exploring Leh bazaar by foot.
                    Evening at your leisure. Overnight at the hotel.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Day 2 : Excursions, Marshes </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                <div class="panel-body">
                  <p class="text-justify">Around Leh. We will have two excursions with little walking. Visit some marshes along the Indus River, and a nearby monastery. Overnight in a hotel at Leh.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Day 3 : Camp, Snow Leopard spotting </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" data-bs-parent="#accordion">
                <div class="panel-body">
                  <p class="text-justify">
                    After breakfast, drive to the trail-head of our camp. All our bags will be transferred to be transported by horses or ponies, except what we wish to carry ourselves. Walk to our camp, lunch. The rest of the day will be spent
                    around camp, looking for snow leopards, Other mammals, and birds. We may offer the option to hike a couple more miles in the afternoon, before returning for dinner. Overnight in camp or homestay.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> Day 4 - 10 : Trek </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" data-bs-parent="#accordion">
                <div class="panel-body">
                  <p class="text-justify">Trek to snow leopard Rumbak, Husing, Tibjing, Jurutes valleys and surroundings. Overnight in camp or homestay.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> Day 11 : Back to Jingchan, Leh </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" data-bs-parent="#accordion">
                <div class="panel-body">
                  <p class="text-justify">Trek back to Jingchan, and drive to Leh. Overnight in the hotel at Leh.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix"> Day 12 : Departure </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix" data-bs-parent="#accordion">
                <div class="panel-body">
                  <p class="text-justify">Departure from Leh with sweet memories of Ladakh. End of Tour.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-12">
          <button class="btn custom-btn my-2" data-bs-toggle="modal" data-bs-target="#inclusionsModal">Inclusions</button>
          <button class="btn custom-btn my-2" data-bs-toggle="modal" data-bs-target="#exclusionsModal">Exclusions</button>
          <button class="btn custom-btn my-2" data-bs-toggle="modal" data-bs-target="#policiesModal">Policies</button>
          <button class="btn custom-btn my-2" data-bs-toggle="modal" data-bs-target="#notesModal">Notes</button>
          <button class="btn custom-btn my-2" data-bs-toggle="modal" data-bs-target="#paymentTermsModal">Payment Terms</button>
          <button class="btn custom-btn my-2" data-bs-toggle="modal" data-bs-target="#cancellationPolicyModal">Cancellation Policy</button>
          <button class="btn custom-btn my-2" data-bs-toggle="modal" data-bs-target="#bankDetailsModal">Bank Details</button>
        </div>
      </div>
      <div class="row justify-content-around mt-4">
        <div class="events-detail-info col-11 col-lg-4">
          <div class="row">
            <div class="col-lg-12 col-12">
              <h4 class="mb-3 text-black">Travel Date Options</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-4 text-lg-center">
              <h6 class="custom-block-span text-black">Tour 1:</h6>
              <h6 class="custom-block-span text-black">Tour 2:</h6>
              <h6 class="custom-block-span text-black">Tour 3:</h6>
              <h6 class="custom-block-span text-black">Tour 4:</h6>
            </div>

            <div class="col-8">
              <h6 class="text-white">18.01 to 29.01.2024*</h6>
              <h6 class="text-white">10.02 to 21.02.2024*</h6>
              <h6 class="text-white">23.02 to 05.03.2024*</h6>
              <h6 class="text-white">06.03 to 17.03.2024*</h6>
            </div>
          </div>

          <div class="col-12 text-right">
            <p class="mt-4">*limited seats are available</p>
          </div>
        </div>

        <div class="events-detail-info col-11 col-lg-4 pb-2 mt-4 mt-lg-0">
          <div class="row">
            <div class="col-lg-12 col-12">
              <h4 class="mb-3 text-black">Package Options</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-12 text-lg-center">
              <ul>
                <li class="text-justify text-white">Camp Per person on Double/ Twin sharing INR 182999 + 5% GST (minimum 2 adults)</li>
                <li class="text-justify text-white">Home stay Per person on Double/ Twin sharing INR 142999 + 5% GST (minimum 2 adults)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="custom-block-info pt-5 pb-0">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-6 text-center">
              <h6 class="events-title text-black">Thank you for choosing “Divas And Destinations”</h6> <h6 class="events-title text-black">Just pack your bags & we do the rest</h6>
              <!-- Button trigger modal -->
              <a href="#" class="text-white terms-btn btn-link btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Terms & Conditions</button>
            </div>
          </div>

          <div class="contact-info my-5 d-none d-lg-block">
            <div class="contact-info-item mt-5">
              <div class="contact-info-body">
                <strong>Chennai, India</strong>

                <p class="mt-2 mb-1">
                  <a href="tel: 010-020-0340" class="contact-link"> (020) 010-020-0340 </a>
                </p>

                <p class="mb-0">
                  <a href="mailto:info@company.com" class="contact-link"> info@company.com </a>
                </p>
              </div>

              <div class="contact-info-footer">
                <a href="#">Directions</a>
              </div>
            </div>

            <img src="/assets/images/WorldMap.svg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Inclusions Modal -->
<div class="modal fade" id="inclusionsModal" tabindex="-1" aria-labelledby="inclusionsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="inclusionsModalLabel">Inclusions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <ul>
            <li>Transfer upon arrival from airport to hotel at Leh, departure from hotel at Leh to airport.</li>
            <li>Accommodation on twin-sharing basis with breakfast, lunch, dinner in A-class hotel at Leh All surface transportation is mentioned in the program.</li>
            <li>Fees for Inner-Line Permit, Entrance in National Park, Wildlife Fee for the applicable. area Local nature guide service.</li>
            <li>Camping accommodation with full board (all meals) by our local staff or accommodation in homestay with full board (all meals).</li>
            <li>Sleeping Tents, Dining Tent, Kitchen Tent, Toilet Tent for accommodation in camp.</li>
            <li>Spotting scopes</li>
            <li>Eco Generator for charging the batteries.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Exclusions Modal -->
<div class="modal fade" id="exclusionsModal" tabindex="-1" aria-labelledby="exclusionsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exclusionsModalLabel">Exclusions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <ul>
            <li>International and domestic flight tickets</li>
            <li>
              Personal expenses, such as table drinks, room service items, laundry, phone calls, or tips Any additional expenses caused by or liability for disturbance in the trip program due to circumstances beyond our control, such as airline
              cancellation/rescheduling, roadblocks, vehicle malfunction, sudden change in weather condition, sickness of participants, natural disasters, etc.
            </li>
            <li>Liability for any insurance against injury, accidents, damage to or loss of goods</li>
            <li>Camera Fee, or any item not specifically listed in the program.</li>
            <li>Personal care medical kit and other health related arrangements.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Policies Modal -->
<div class="modal fade" id="policiesModal" tabindex="-1" aria-labelledby="policiesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="policiesModalLabel">Policies</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <h6 class="text-black">Hotel Policies</h6>
          <ul>
            <li>Hotel Check in 1400 Hrs /Check out 1200Hrs, times are fixed and there is no guarantee for early/late check in /out unless paid for.</li>
          </ul>
        </div>
        <div>
          <h6 class="text-black">Other Terms & policies</h6>
          <ul>
            <li>Optional excursions and additional services could be provided for which we will charge additionally.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notes Modal -->
<div class="modal fade" id="notesModal" tabindex="-1" aria-labelledby="notesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="notesModalLabel">Notes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <ul>
            <li>We do not have any reservations and it is subject to availability at the time of confirmation.</li>
            <li><strong>Credit card payment will attract additional charges of 2.5% - 4%.</strong></li>
            <li>
              The costs are subject to change as per market conditions & the above quote is based on <strong>02 Adults travelling together</strong> and valid as on date and subject to change without any prior notice as the above quotes are based
              on current fares and taxes.
            </li>
            <li>
              Rates are tentative for travel excluding any congress / trade fairs / block out dates. Hotels might charge a surcharge and that will supplement the cost. Turn down service – Bed decoration is done either on arrival day or the next
              day, guests have to inform upon arrival or before departure.
            </li>
            <li>Turn down service – Aromatic bubble bath once per stay is on request.</li>
            <li>All Turn down service will be arranged during the early evening.</li>
            <li>The package cost is valid till 12/10/2023.</li>
            <li>Un-utilized services are non-re-fundable.</li>
            <li>All confirmations are subject to availability and payment.</li>
            <li>Above mentioned rate excluding service charges & GST.</li>
            <li>Additional GST 5% applicable</li>
            <li>
              TCS 5%(20% from 1st Oct) applicable for all international travel (claimable during IT filing) Although we recommend highly rated properties based on global reviews, we leave the final decision to the customers’ own discretion. We
              are happy to revert to our customers with alternate options on or before the trip/journey/tour.
            </li>
            <li>Lotus Exotic Journeys LLP facilitates global travel services based on customers’ requests. We do not own the property recommended nor the service recommended. We leave the final decision to the customer’s own discretion.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Payment Terms Modal -->
<div class="modal fade" id="paymentTermsModal" tabindex="-1" aria-labelledby="paymentTermsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="paymentTermsModalLabel">Payment Terms</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <ul>
            <li>100% cost of the tour cost to be paid on confirmation All Payments to be made by Cheque/Demand Draft in favour of “Lotus Exotic Journeys LLP” payable at Chennai.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Cancellation Policy Modal -->
<div class="modal fade" id="cancellationPolicyModal" tabindex="-1" aria-labelledby="cancellationPolicyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cancellationPolicyModalLabel">Cancellation Policy</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <ul>
            <li>Once booked- 25% of the package cost</li>
            <li>Cancelled before 45 days- 50% of the package cost</li>
            <li>Cancelled before 30 days- 75% of the package cost</li>
            <li>Cancelled less than 30 days- 100% of the package cost</li>
            <li>Train / AirFare- As per airline cancellation policy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bank Details Modal -->
<div class="modal fade" id="bankDetailsModal" tabindex="-1" aria-labelledby="bankDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="bankDetailsModalLabel">Bank Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <p class="mb-1 text-black">Lotus Exotic Journeys LLP</p>
          <p class="mb-1 text-black">ICICI Bank A/c No.104005001814</p>
          <p class="mb-1 text-black">CIT Nagar Branch</p>
          <p class="mb-1 text-black">IFSC Code: ICIC0001040</p>
          <p class="mb-1 text-black">SWIFT code: ICICINBBNRI</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Package Options Modal -->
<!-- <div class="modal fade" id="packageOptionsModal" tabindex="-1" aria-labelledby="packageOptionsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="packageOptionsModalLabel">Package based on</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <h6>Camp Stay Room</h6>
          <ul>
            <li><strong>Camp Per person on Double/ Twin sharing INR 182999 + 5% GST (minimum 2 adults)</strong></li>
          </ul>
        </div>
        <div>
          <h6>Home Stay Room</h6>
          <ul>
            <li><strong>Home stay Per person on Double/ Twin sharing INR 142999 + 5% GST (minimum 2 adults)</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Terms & Conditions Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Terms & Conditions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <h6 class="text-black">Tour Booking & Notes</h6>
          <ul>
            <li>
              <strong>The costing is subject to change as per market conditions</strong> & the above quote is based on the above said guest travelling together and valid as on date and subject to change without any prior notice as the above
              quotes are based on current fares and taxes.
            </li>
            <li>
              The group may not operate if the group size is reduced. Lotus reserves the right and can cancel the group. Refunds will be processed for the travellers who have paid in full. The package cost is valid for a limited period. Pls check
              with our offices.
            </li>
            <li>In case of absence/missed tour/delay reaching the pickup point, the entire service will be considered No-show and the ticket(s)/voucher(s) will be considered void.</li>
            <li>Void service/ticket/voucher is not valid to re-join the group in between or use partial service. A void service is no refund.</li>
            <li>
              Any immediate support we request guest to contact the local vendor number mentioned in the voucher(s)/ticket(s). The Indian team will take a minimum of 2hrs of revert time. We highly recommend contacting the local support team as
              described. All confirmations are subject to availability and payment.
            </li>
            <li>The Foreign Exchange rate is volatile / dynamic and the same may fluctuate at the time of final payment.</li>
            <li>
              All Transfers & Tours are on seat in coach basis until specified as Private. You are requested to clarify all your queries pertaining to transfer with your travel advisor well in advance before the tour. Seat in coach transfers is
              on fixed timings only and may differ from country to country.
            </li>
            <li>
              All hotels offered are subject to current availability. Should the same not be available at the time of your final booking, we will arrange to provide a similar category hotel. Granting / Approval of visas is the sole discretion of
              the country’s Embassy / Ministry of Foreign Affairs.
            </li>
            <li>
              For the comfort and convenience of the Clients, the Company would sometimes reverse the direction, or slightly amend the itinerary. The Company would also try to inform the Clientabout these changes, prior to the start of the tour
              or during tour as soon as possible.
            </li>
            <li>
              On group tours, we do not assure special meals or special timings or extra halts for infants, children, or passengers with diabetes / cholesterol / high blood pressure etc. The Company Cannot guarantee a special meal / diet for the
              Client upon such request. We reserve the absolute right to alter, amend, change, or modify the tour package and itineraries. This may be necessitated due to factors beyond our control such as Force Majeure events, strikes, fairs,
              festivals, sport events, weather conditions, traffic problems, over booking of hotels/flights, cancellation/ rerouting of flights or railway, closure of / restricted entry at a place of sightseeing.
            </li>
            <li>Airlines do not allow name change facility after ticketing is completed. Airlines & Government Taxes are subject to change without prior notice.</li>
          </ul>
        </div>
        <div>
          <h6 class="text-black">Visa</h6>
          <ul>
            <li>
              Lotus Exotic Journeys acts as a facilitator for visa processing. The discretion to grant/reject the visa rests solely with the concerned authority/embassy and Lotus Exotic Journeys will not be responsible in case the visa is refused
              by the concerned authorities for whatsoever reason(s).
            </li>
            <li>
              Lotus Exotic Journeys shall not be responsible for non-issuance / rejection of visa due to receipt of incomplete/delayed documents from the customer. It is a possibility that the consulate/embassy may ask for more documents or even
              ask the passenger to appear for a personal interview. This is at the sole discretion of the Consulate / concerned authorities.
            </li>
            <li>
              Lotus Exotic Journeys will make the best efforts for timely delivery of the passport to the client before the date of departure. However, Lotus Exotic Journeys shall not be liable for any delays or loss of passport for reasons
              beyond its control as Lotus Exotic Journeys relies on third party vendors for such services. In the event of any cancellation of tour due to delay in delivery of passport or rejection of visa, Lotus Exotic Journeys shall be entitled
              to recover cancellation charges as per the terms herein Visa fees paid are non-refundable.
            </li>
          </ul>
        </div>
        <div>
          <h6 class="text-black">Payments</h6>
          <ul>
            <li>In general 50% advance of the tour cost to be paid on confirmation. Advance payment options may vary based on packages, date of travel, etc. Check specific proposal for payment terms.</li>
            <li>All Payments to be made by Cheque/Demand Draft in favour of “Lotus Exotic JourneysLLP.” payable at Chennai.</li>
            <li>
              Final documents and airline tickets will be delivered (by hand, e-mail, or courier) only after the balance payment is made to Lotus Exotic Journeys by the customer. PAN Card copy will be required when payments amounting to
              Rs.25,000/- or above are made by cash.
            </li>
            <li>As per Government norms all International Tours will attract 5% TCS against PAN & 10% if PAN is not provided.</li>
          </ul>
        </div>
        <div>
          <h6 class="text-black">Refunds</h6>
          <ul>
            <li>Refunds (if any) for amendments and/or cancellation will be paid directly to the customer.</li>
            <li>Refund (if any) due to visa delay/rejection will be subject to applicable cancellation policy herein.</li>
            <li>The normal time to process refunds is a minimum of 30 working days.</li>
            <li>There is no refund payable for any unutilized services (e.g. Meals, Entrance Fees, OptionalTour, Hotel, Sightseeing etc.).</li>
          </ul>
        </div>
        <div>
          <h6 class="text-black">Law & Jurisdiction</h6>
          <ul>
            <li>
              For all complaints, suits, claims or disputes of whatsoever nature relating to any services by Lotus Exotic Journeys and third-party products and tours the courts and tribunals in Chennai, India alone shall have exclusive
              jurisdiction. All tours are subject to laws, rules of the Reserve Bank of India / Government of India.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>