---
title: 'DAD - Divas and Destinations'
layout: 'base.njk'
---

<main>
  <section id="section_1" class="custom-gradient section-100 section_1">
    <div class="pos-abs-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="100vw" height="100vh" viewBox="0 0 1280.000000 640.000000" preserveAspectRatio="xMidYMid meet" id="svgcontent" overflow="hidden" x="1280" y="640">
        <metadata>Created by potrace 1.15, written by Peter Selinger 2001-2017</metadata>
        <g class="layer" style="pointer-events: all">
          <title style="pointer-events: inherit">Layer 1</title>
          <g transform="translate(0 640) scale(0.1 -0.1)" fill="#000000" stroke="none" id="svg_1">
            <path
              d="M3850,3075C3850,3055 3937,2947 3977,2917C4033,2877 4157,2813 4267,2769C4360,2731 4600,2650 4615,2650C4620,2651 4578,2670 4520,2694C4388,2748 4281,2802 4210,2850C4155,2888 4089,2950 4104,2950C4115,2950 4357,2921 4400,2915C4508,2899 4274,2976 4050,3031C3959,3053 3877,3074 3868,3076C3858,3079 3850,3079 3850,3075z"
              id="svg_12"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M8761,3035C8592,2992 8365,2922 8372,2914C8374,2912 8447,2920 8534,2931C8621,2942 8694,2949 8697,2947C8699,2944 8676,2920 8645,2892C8585,2839 8416,2747 8273,2689C8227,2671 8192,2655 8193,2653C8198,2649 8353,2699 8475,2744C8621,2798 8790,2884 8845,2932C8906,2986 8970,3082 8943,3079C8938,3079 8857,3059 8761,3035z"
              id="svg_13"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M4109,2537C4177,2438 4293,2368 4510,2296C4624,2258 4882,2188 4887,2194C4889,2196 4835,2216 4768,2239C4568,2307 4350,2423 4350,2462C4350,2467 4362,2469 4378,2466C4420,2458 4676,2447 4670,2454C4654,2470 4147,2580 4088,2580C4083,2580 4092,2561 4109,2537z"
              id="svg_16"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M8555,2554C8406,2526 8130,2461 8130,2453C8130,2447 8378,2458 8429,2466C8479,2474 8465,2453 8384,2398C8306,2345 8201,2296 8025,2234C7959,2210 7910,2191 7915,2191C7921,2190 7977,2204 8040,2220C8308,2290 8541,2382 8622,2449C8642,2466 8672,2503 8689,2530C8726,2589 8735,2588 8555,2554z"
              id="svg_17"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M4510,1970C4535,1941 4575,1904 4599,1888C4689,1832 4858,1778 5095,1731C5267,1698 5307,1697 5190,1729C4976,1788 4837,1846 4765,1905L4735,1929L4905,1930C5003,1930 5069,1934 5060,1939C5029,1957 4723,2004 4559,2016L4465,2023L4510,1970z"
              id="svg_20"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M8120,2004C7990,1988 7862,1967 7780,1948C7726,1935 7729,1935 7893,1930L8062,1925L8038,1904C7977,1849 7827,1787 7630,1735C7491,1698 7490,1692 7625,1716C7844,1754 8052,1811 8151,1861C8217,1894 8258,1926 8300,1981L8332,2020L8283,2019C8257,2018 8183,2012 8120,2004z"
              id="svg_21"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M2130,3903C2130,3886 2204,3752 2248,3690C2313,3597 2470,3440 2575,3361C2821,3176 3199,2992 3644,2841C3726,2813 3798,2790 3804,2790C3810,2790 3761,2819 3695,2854C3484,2966 3282,3088 3014,3266C2871,3361 2748,3445 2742,3453C2730,3467 2800,3448 3305,3305C3409,3276 3496,3253 3498,3254C3501,3258 3245,3367 2913,3504C2544,3656 2364,3746 2193,3868C2158,3892 2130,3908 2130,3903z"
              id="svg_6"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M10565,3839C10428,3746 10217,3639 9955,3530C9507,3345 9300,3257 9303,3254C9304,3252 9407,3279 9530,3314C9993,3446 10070,3466 10070,3461C10070,3453 9554,3109 9450,3048C9282,2948 9220,2913 9105,2853C9039,2819 8990,2790 8995,2790C9014,2790 9324,2897 9451,2948C9996,3166 10330,3387 10538,3665C10590,3735 10688,3911 10673,3909C10669,3908 10620,3877 10565,3839z"
              id="svg_7"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M2501,3153C2642,2900 2864,2711 3225,2535C3419,2440 3562,2383 3770,2316C3938,2262 4210,2186 4215,2192C4217,2194 4189,2209 4152,2225C4043,2271 3685,2451 3545,2530C3395,2614 3100,2790 3100,2794C3100,2798 3512,2714 3725,2666C3808,2647 3876,2633 3878,2635C3882,2639 3757,2683 3325,2830C2948,2959 2675,3077 2531,3174C2502,3194 2476,3210 2473,3210C2471,3210 2483,3184 2501,3153z"
              id="svg_10"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M10245,3158C10075,3055 9858,2961 9535,2850C9161,2722 8920,2637 8922,2634C8924,2633 8981,2644 9050,2660C9245,2704 9666,2790 9686,2790C9743,2790 8999,2379 8698,2244C8639,2218 8592,2194 8594,2193C8596,2191 8671,2209 8761,2234C9488,2434 9976,2696 10211,3012C10268,3089 10335,3199 10329,3204C10327,3206 10289,3185 10245,3158z"
              id="svg_11"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M2900,2404C2900,2389 3007,2265 3073,2204C3354,1944 3834,1770 4534,1675C4700,1653 4822,1643 4765,1657C4593,1699 4184,1841 3895,1958C3634,2064 3590,2083 3594,2088C3597,2090 3767,2080 3974,2065C4181,2050 4355,2040 4361,2042C4366,2044 4237,2072 4073,2104C3521,2212 3439,2229 3303,2265C3167,2301 3008,2356 2938,2391C2917,2402 2900,2408 2900,2404z"
              id="svg_18"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M9788,2359C9595,2281 9425,2240 8807,2119C8599,2079 8434,2044 8440,2042C8450,2038 8693,2054 9044,2080C9219,2093 9223,2093 9180,2071C9039,1997 8251,1709 8082,1670C7927,1634 8158,1654 8440,1701C8945,1785 9302,1904 9570,2080C9690,2159 9940,2405 9893,2399C9889,2398 9841,2380 9788,2359z"
              id="svg_19"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M3771,1551C3825,1510 3961,1438 4050,1405C4226,1340 4410,1303 4665,1281C4809,1268 5288,1266 5275,1278C5269,1283 5216,1292 5155,1299C4955,1321 4311,1415 4303,1424C4301,1425 4443,1456 4617,1491L4935,1555L4845,1561C4796,1565 4528,1568 4251,1569C3758,1570 3748,1570 3771,1551z"
              id="svg_24"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M7945,1561L7865,1555L8183,1491C8357,1456 8499,1425 8497,1424C8489,1415 7845,1321 7645,1299C7438,1276 7503,1268 7840,1273C8163,1278 8287,1289 8475,1326C8670,1365 8857,1436 8988,1522C9022,1544 9050,1564 9050,1566C9050,1572 8035,1567 7945,1561z"
              id="svg_25"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M0,5787C0,5785 13,5738 30,5683C96,5459 220,5217 373,5010C412,4958 518,4840 609,4749C848,4511 1096,4331 1448,4141C1573,4073 1852,3940 1868,3940C1872,3940 1826,3968 1765,4003C1249,4298 876,4630 726,4929C696,4987 699,4987 780,4925C1006,4752 1544,4386 1810,4223C2777,3630 3658,3255 4554,3055C4664,3031 4756,3012 4758,3015C4760,3017 4742,3024 4719,3030C4624,3055 4194,3202 4000,3275C2860,3706 1763,4340 735,5163C522,5334 338,5491 48,5749C21,5773 0,5790 0,5787z"
              id="svg_2"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M12695,5698C12146,5205 11550,4746 10981,4380C10101,3813 9153,3365 8207,3069C8059,3023 7997,3000 8060,3014C8074,3017 8167,3038 8268,3060C9254,3280 10312,3759 11370,4463C11538,4575 11862,4803 11995,4903C12050,4945 12096,4977 12098,4975C12106,4967 12021,4823 11960,4742C11784,4507 11444,4234 11050,4011C10981,3972 10928,3940 10932,3940C10946,3940 11207,4062 11310,4117C12110,4542 12582,5047 12770,5682C12787,5737 12799,5784 12798,5786C12796,5787 12750,5748 12695,5698z"
              id="svg_3"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M110,4584C110,4572 318,4350 420,4253C708,3979 924,3829 1264,3665C1495,3553 2125,3279 2149,3280C2152,3280 2074,3322 1975,3373C1876,3424 1761,3486 1720,3510C1354,3722 991,4015 1025,4070C1044,4101 1293,4040 1729,3899C1813,3872 1884,3851 1886,3853C1888,3855 1857,3870 1818,3885C1626,3960 1002,4218 815,4300C390,4487 293,4528 220,4553C179,4567 137,4582 128,4585C118,4589 110,4588 110,4584z"
              id="svg_4"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M12580,4554C12487,4520 12390,4479 12001,4306C11895,4259 11608,4138 11364,4038C11121,3938 10922,3855 10923,3853C10925,3852 10995,3873 11080,3901C11309,3974 11563,4047 11662,4066C11801,4093 11813,4073 11718,3973C11552,3799 11261,3601 10850,3383C10754,3332 10678,3290 10681,3290C10688,3290 11015,3427 11205,3510C11390,3590 11697,3741 11801,3803C11979,3908 12185,4067 12380,4253C12477,4345 12690,4571 12690,4583C12690,4593 12686,4592 12580,4554z"
              id="svg_5"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M250,3658C404,3519 765,3277 986,3167C1261,3030 1642,2908 2229,2769C2342,2742 2435,2722 2437,2724C2439,2725 2353,2760 2248,2800C1736,2995 1400,3154 1400,3200C1400,3219 1447,3221 1573,3206C1645,3197 1824,3177 1970,3160C2116,3143 2246,3127 2260,3124C2274,3121 2282,3121 2279,3124C2276,3128 2156,3160 2014,3196C1512,3322 1338,3372 998,3484C701,3582 503,3641 349,3676C202,3709 195,3708 250,3658z"
              id="svg_8"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M12475,3681C12323,3647 12154,3598 11870,3505C11444,3365 11275,3317 10790,3196C10591,3146 10470,3111 10550,3125C10590,3132 11346,3220 11370,3220C11402,3220 11407,3191 11379,3169C11337,3135 11218,3074 11085,3015C10950,2955 10572,2804 10437,2755C10395,2740 10361,2726 10363,2724C10368,2719 10591,2770 10810,2826C11324,2958 11685,3086 11923,3222C12159,3358 12362,3499 12584,3682L12605,3700L12580,3699C12566,3699 12519,3691 12475,3681z"
              id="svg_9"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M503,2757C535,2730 775,2585 890,2522C1186,2362 1538,2239 1885,2176C2091,2139 2602,2076 2664,2081C2670,2081 2592,2103 2490,2129C2087,2233 1857,2307 1719,2376C1654,2408 1590,2455 1590,2469C1590,2473 1679,2480 1788,2483C2056,2492 2527,2519 2570,2528C2597,2534 2573,2539 2465,2548C1931,2596 1267,2673 990,2719C819,2748 702,2763 550,2775L475,2780L503,2757z"
              id="svg_14"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M12220,2773C12130,2766 11921,2739 11780,2715C11541,2674 10926,2603 10340,2548C10235,2539 10213,2534 10240,2528C10283,2519 10746,2492 11013,2483C11121,2480 11210,2473 11210,2469C11210,2437 11045,2349 10876,2291C10759,2250 10533,2186 10260,2115C10129,2082 10127,2081 10195,2086C10622,2118 11071,2193 11320,2272C11542,2343 11810,2462 12025,2585C12152,2658 12330,2769 12330,2776C12330,2780 12303,2779 12220,2773z"
              id="svg_15"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M1060,1951C1060,1944 1236,1829 1320,1779C1471,1691 1668,1601 1835,1545C2108,1453 2470,1412 2900,1424C3100,1429 3478,1455 3487,1464C3488,1465 3410,1472 3312,1479C2760,1518 2316,1597 2093,1696C2045,1718 2038,1724 2055,1730C2077,1738 2463,1780 2780,1808L2975,1826L2545,1838C1979,1854 1581,1883 1188,1938C1117,1948 1060,1954 1060,1951z"
              id="svg_22"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M11610,1938C11227,1884 10824,1854 10255,1838C10019,1831 9841,1824 9860,1822C10136,1801 10706,1742 10740,1731C10763,1723 10761,1721 10707,1696C10486,1598 10051,1520 9488,1478C9396,1472 9322,1465 9323,1464C9324,1462 9406,1453 9505,1444C9633,1432 9782,1427 10020,1426C10313,1426 10376,1429 10521,1448C10877,1496 11162,1595 11485,1783C11541,1815 11721,1931 11739,1946C11751,1956 11724,1955 11610,1938z"
              id="svg_23"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M3185,1264C3103,1246 2868,1195 2664,1150C2372,1087 2267,1060 2171,1023C2105,998 2050,974 2050,970C2050,961 2172,925 2275,903C2337,890 2409,886 2590,886C2804,886 2844,889 3037,918C3251,950 3811,1050 3885,1069L3925,1080L3880,1075C3855,1073 3744,1062 3635,1051C3136,1001 2795,997 2688,1041C2633,1063 2648,1072 2875,1149C2952,1176 3076,1214 3150,1235C3224,1256 3305,1278 3330,1286C3412,1309 3337,1298 3185,1264z"
              id="svg_26"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M9441,1296C9443,1294 9507,1276 9584,1256C9732,1217 10014,1126 10093,1091C10121,1079 10140,1065 10138,1057C10119,1000 9692,997 9165,1051C9061,1061 8953,1072 8925,1075C8836,1084 8890,1072 9165,1021C9482,962 9758,918 9960,894C10129,875 10406,880 10530,905C10626,924 10750,961 10750,970C10750,982 10509,1069 10415,1090C10300,1117 9450,1300 9442,1300C9439,1300 9439,1298 9441,1296z"
              id="svg_27"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M4330,1027C3713,828 3254,667 3227,641C3216,631 3449,610 3575,610C3856,610 4516,759 5184,971C5287,1004 5370,1033 5368,1035C5363,1040 5221,1013 5105,985C4609,865 4321,817 4085,816C3997,815 3916,819 3906,823C3891,829 3946,855 4136,931C4273,986 4394,1035 4405,1040C4443,1056 4396,1049 4330,1027z"
              id="svg_28"
              fill="#fff"
              style="display: none"
              ;
            ></path>
            <path
              d="M8381,1046C8387,1040 8830,864 8873,850C8995,811 8738,797 8490,829C8309,852 8007,911 7780,966C7614,1007 7434,1041 7447,1030C7459,1020 7709,941 7975,865C8534,704 8994,610 9225,610C9347,610 9593,631 9583,640C9553,667 9115,822 8694,955C8414,1043 8370,1056 8381,1046z"
              id="svg_29"
              fill="#fff"
              style="display: none"
              ;
            ></path>
          </g>
        </g>
      </svg>
      <div class="dad-name-container">
        <div class="dad-title">
          <h1 class="text-center">Divas</h1>
          <h1 class="text-center">and</h1>
          <h1 class="text-center">Destinations</h1>
        </div>
        <div class="dad-tagline">
          <h5 class="text-center text-white tagline">Giving her wings</h5>
        </div>
      </div>
      <div class="scroll-down text-center" style="position: relative;">Scroll down<div class="arrow"></div></div>
    </div>
  </section>

  <section id="about" class="custom-gradient section-100 section_2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-12 text-center">
          <h2 class="mb-lg-5 mb-4 text-black about-title">Elevate Your Travel Experience to Uncharted Heights</h2>
        </div>

        <div class="col-lg-5 col-12 me-auto mb-4 mb-lg-0">
          <h3 class="mb-3 text-black reveal-type about-subtitle">Discover Extraordinary Journeys Crafted Exclusively for Women</h3>
          <p class="reveal-type about-text text-justify">
            <strong>Welcome</strong> to a world where every journey is an opulent adventure, meticulously designed for women who appreciate the exceptional. At Divas and Destinations, we specialize in curating unparalleled travel experiences
            exclusively for women.
          </p>
          <p class="reveal-type about-text text-justify">If you're seeking extraordinary adventures that resonate with your unique lifestyle, you've arrived at the perfect destination.</p>
        </div>
        <div class="col-lg-6 col-12">
          <div class="ratio ratio-16x9">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/MGNgbNGOzh8"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section_3" class="custom-gradient section-100 section_3">
    <div class="container">
      <div class="row align-items-center mt-5 mt-lg-0">
        <div class="col-lg-12 col-12 text-center">
          <h2 class="mb-lg-5 mb-0 text-black experience-title">The Luxury Experience</h2>
        </div>

        <div class="col-lg-5 col-12 me-auto mb-0 mb-lg-0 order-1 order-md-2">
          <h3 class="mb-3 text-black reveal-type experience-subtitle">Your Exclusive Passport to Luxury Travel</h3>
          <p class="reveal-type text-justify experience-text">
            Access a realm of privilege throughout your travel. Revel in opulent accommodations at the world's finest hotels and resorts, reserved exclusively for our female travelers. Immerse yourself in private access to elite cultural events
            and bespoke experiences. Relish gourmet cuisine, thoughtfully curated to tantalize your refined taste buds. Experience seamless, worry-free travel with our dedicated concierge service.
          </p>
        </div>
        <div class="col-lg-6 col-12 order-md-1 order-lg-2 pb-5 pb-lg-0">
          <div class="story-container text-center experience-png">
            <image src="/assets/images/luxury_travel.png" class="png-story"></image>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section_4" class="custom-gradient section-100 section_4">
    <!-- Slider main container -->
    <div class="swiper mySwiper mt-0 mt-lg-5">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="row align-items-center justify-content-center mt-4 mt-lg-0 p-1">
            <div class="col-lg-12 col-12 text-center">
              <h2 class="mt-5 mt-lg-5 mb-lg-5 mb-0 text-black">Tailored for You</h2>
            </div>

            <div class="col-lg-5 col-11 ms-lg-5 p-0 mb-0 order-1 order-md-2">
              <h3 class="mb-3 text-black reveal-type">Your Journey, Your Desires</h3>
              <p class="reveal-type text-justify">
                Safety and comfort take precedence in every aspect of your journey. Enjoy personalized itineraries meticulously tailored to align with your unique interests and passions. Immerse yourself in travel experiences crafted
                exclusively to fulfill the desires of women. Experience a commitment to privacy and discretion, ensuring your journey remains exclusively yours.
              </p>
            </div>
            <div class="col-lg-6 col-12 order-md-1 order-lg-2 py-4 pb-lg-0">
              <div class="story-container text-center">
                <image src="/assets/images/tailored_for_you.png" class="png-story"></image>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row align-items-center justify-content-center mt-4 mt-lg-0 p-1">
            <div class="col-lg-12 col-12 text-center">
              <h2 class="mt-5 mt-lg-5 mb-lg-5 mb-0 text-black">Transformative Adventures</h2>
            </div>

            <div class="col-lg-5 col-11 ms-lg-5 p-0 mb-0 order-1 order-md-2">
              <h3 class="mb-3 text-black reveal-type">More than Travel - Empowerment through Connections</h3>
              <p class="reveal-type text-justify">
                Break free from the mundane and create cherished memories that elevate your spirit. Our journeys transcend mere vacations; they are opportunities for personal transformation. Forge genuine connections with like-minded women,
                nurturing lasting friendships. Discover the world while discovering the limitless potential within yourself.
              </p>
            </div>
            <div class="col-lg-6 col-12 order-md-1 order-lg-2 py-4 pb-lg-0">
              <div class="story-container text-center">
                <image src="/assets/images/transformative_adventures.png" class="png-story"></image>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row align-items-center justify-content-center mt-4 mt-lg-0">
            <div class="col-lg-12 col-12 text-center">
              <h2 class="mt-5 mt-lg-5 mb-lg-5 mb-0 text-black">Join Our Exclusive Community</h2>
            </div>

            <div class="col-lg-5 col-11 ms-lg-5 p-0 mb-0  order-1 order-md-2">
              <h3 class="mb-3 text-black reveal-type">Join the Elite Circle of Empowered Women</h3>
              <p class="reveal-type text-justify">
                Gain coveted access to an exclusive community of empowered women who share your passion for adventure. Connect intimately, share inspiring stories, and embark on life-changing journeys together. Elevate your travel experiences
                and enrich your life with the unwavering support of empowered women by your side.
              </p>
            </div>
            <div class="col-lg-6 col-12 order-md-1 order-lg-2 py-4 pb-lg-0">
              <div class="story-container text-center">
                <image src="/assets/images/empowered_women.png" class="png-story"></image>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row align-items-center justify-content-center mt-4 mt-lg-0">
            <div class="col-lg-12 col-12 text-center">
              <h2 class="mt-5 mt-lg-5 mb-lg-5 mb-0 text-black">Your Journey Begins Here</h2>
            </div>

            <div class="col-lg-5 col-11 ms-lg-5 p-0 mb-0 order-1 order-md-2">
              <h3 class="mb-3 text-black reveal-type">Embark on Your Exclusive Adventure Today</h3>
              <p class="reveal-type text-justify">
                Join our distinguished community of empowered women and set forth on a journey beyond compare. Unleash your inner traveler and explore the world in a way that's exclusively tailored for you. Take the first step by completing the
                form below to schedule your complimentary travel consultation with one of our expert advisors.
              </p>
            </div>
            <div class="col-lg-6 col-12 order-md-1 order-lg-2 py-4 pb-lg-0">
              <div class="story-container text-center">
                <image src="/assets/images/journey_begins_here.png" class="png-story"></image>
              </div>
            </div>
          </div>
        </div>
        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        <div class="autoplay-progress">
          <svg viewBox="0 0 48 48">
            <circle cx="24" cy="24" r="20"></circle>
          </svg>
          <span></span>
        </div>
      </div>
    </div>
  </section>

  <section class="membership-section custom-gradient section-100 section_5" id="membership">
    <div class="container mb-3 mb-lg-0">
      <div class="row mt-5">
        <div class="col-lg-12 col-12 text-center mx-auto mb-lg-5 mb-4">
          <h2 class="text-black"><span>Membership</span> at DAD</h2>
        </div>

        <div class="col-lg-6 col-12 mb-3 mb-lg-0">
          <h4 class="mb-2 pb-lg-2 text-black d-none d-lg-block">Membership Details</h4>
          <div class="table-responsive">
            <table class="table text-cente">
              <thead class="align-middle">
                <tr>
                  <th style="width: 40%;">Yearly Access</th>
                  <th style="width: 20%;">Gold</th>
                  <th style="width: 20%;">Platinum</th>
                  <th style="width: 20%;">Diamond</th>
                </tr>
              </thead>
              <tbody class="align-middle">
                <tr>
                  <th scope="row" class="text-start">VIP Meet & Greet (Domestic only)</th>
                  <td>
                    2 
                  </td>
                  <td>
                    3
                  </td>
                  <td>
                    4
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Airport Transfers (Domestic only)</th>
                  <td>
                    2
                  </td>
                  <td>
                    4
                  </td>
                  <td>
                    5
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Miles for every transaction</th>
                  <td>
                    100/- = 1 mile
                  </td>
                  <td>
                    100/- = 2 miles
                  </td>
                  <td>
                    100/- = 2 miles
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Miles for every referal</th>
                  <td>
                    Into Gold = 250 miles
                  </td>
                  <td>
                    Into Platinum = 500 miles
                  </td>
                  <td>
                    -
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Exclusive rates on travel packages</th>
                  <td>
                    Yes
                  </td>
                  <td>
                    Yes
                  </td>
                  <td>
                    Yes
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Lounge Access (Domestic Airports)</th>
                  <td>
                    2
                  </td>
                  <td>
                    3
                  </td>
                  <td>
                    4
                  </td>
                </tr>
                <tr>
                  <th scope="row" class="text-start py-3">Fee</th>
                  <td>
                    &#8377 15,000
                  </td>
                  <td>
                    &#8377 20,000
                  </td>
                  <td>
                    Invite only
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-lg-5 col-12 ms-auto membership-join">
        <h4 class="mb-2 pb-lg-2 text-black">Please join us!</h4>
          <form action="#" method="post" class="custom-form membership-form shadow-lg" role="form">
            <h4 class="text-white mb-4">Become a member</h4>
              <div class="form-floating">
                <input type="text" name="full-name" id="full-name" class="form-control" placeholder="Full Name" required="">
                <label for="floatingInput">Full Name</label>
              </div>

              <div class="form-floating">
                <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required="">
                <label for="floatingInput">Email address</label>
              </div>

              <div class="form-floating">
                <textarea class="form-control" id="message" name="message" placeholder="Describe message here"></textarea>
                <label for="floatingTextarea"> Comments</label>
              </div>

              <button type="submit" class="form-control">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="membership-section-mobile custom-gradient section-100 section_5i" id="section_5i">
    <div class="container mb-3 mb-lg-0">
      <div class="row mt-5">
        <div class="col-lg-12 col-12 text-center mx-auto mb-lg-5 mb-4">
          <h2 class="text-black"><span>Membership</span> at DAD</h2>
        </div>

        <div class="col-lg-5 col-12 ms-auto">
        <h4 class="mb-2 pb-lg-2 text-black">Please join us!</h4>
          <form action="#" method="post" class="custom-form membership-form shadow-lg" role="form">
            <h4 class="text-white mb-4">Become a member</h4>
              <div class="form-floating">
                <input type="text" name="full-name" id="full-name" class="form-control" placeholder="Full Name" required="">
                <label for="floatingInput">Full Name</label>
              </div>

              <div class="form-floating">
                <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required="">
                <label for="floatingInput">Email address</label>
              </div>

              <div class="form-floating">
                <textarea class="form-control" id="message" name="message" placeholder="Describe message here"></textarea>
                <label for="floatingTextarea"> Comments</label>
              </div>

              <button type="submit" class="form-control">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="events-section custom-gradient section-100 section_6" id="journeys">
    <div class="container p-0 p-lg-2">
      <div class="row mt-5 mt-lg-0">
        <div class="col-lg-12 col-12">
          <h2 class="mb-lg-3 text-black">Upcoming Journeys</h2> 
        </div>

        <div class="row custom-block mb-0 mb-lg-3">
          <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
            <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center justify-content-center mt-3 mt-lg-0 mt-md-0">
              <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0"><strong>JAN</strong></h6>
              <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0"><strong>FEB</strong></h6>
              <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0"><strong>MAR</strong></h6>
              <strong class="text-white">2024</strong>
            </div>
          </div>

          <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
            <div class="custom-block-image-wrap">
              <a href="/journeys/exotic_snow_leopard">
                <img src="/assets/images/journeys/exotic_snow_leopard.jpg" class="custom-block-image img-fluid" alt="">
                <i class="custom-block-icon bi-link"></i>
              </a>
            </div>
          </div>

          <div class="col-lg-6 col-12 order-3 order-lg-0">
            <div class="custom-block-info mt-2 mt-lg-0">
              <a href="/journeys/exotic_snow_leopard" class="events-title mb-3 text-black">Exotic Snow Leopard</a>
              <p class="mb-0 text-justify">
                Embark on an extraordinary journey to the heart of the Himalayas, a one-of-a-kind adventure crafted exclusively for the adventurous and spirited ladies out there
              </p>

              <div class="d-flex flex-wrap border-top mt-4 pt-3">
                <div class="mb-4 mb-lg-0">
                  <div class="d-flex flex-wrap align-items-center mb-1">
                    <span class="custom-block-span text-black">Destinations:</span>
                    <p class="mb-0">Leh</p>
                  </div>

                  <div class="d-flex flex-wrap align-items-center">
                    <span class="custom-block-span text-black">Duration:</span>
                    <p class="mb-0">11 Nights 12 Days</p>
                  </div>
                </div>

                <div class="d-flex align-items-center ms-lg-auto">
                  <a href="/journeys/exotic_snow_leopard" class="btn custom-btn">Book Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-section custom-gradient section-100 section_7" id="contact_us">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 col-12 mb-5">
          <form action="#" method="post" class="custom-form contact-form" role="form">
            <h2 class="mb-2 mb-lg-4 pb-2 text-black">Contact</h2>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-floating">
                  <input type="text" name="full-name" id="full-name" class="form-control" placeholder="Full Name" required="">
                  <label for="floatingInput">Full Name</label>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-12"> 
                <div class="form-floating">
                  <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required="">
                  <label for="floatingInput">Phone</label>
                </div>
              </div>

              <div class="col-lg-12 col-md-6 col-12"> 
                <div class="form-floating">
                  <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required="">
                  <label for="floatingInput">Email address</label>
                </div>
              </div>

              <div class="col-lg-12 col-12">
                <div class="form-floating">
                  <textarea class="form-control" id="message" name="message" placeholder="Describe message here"></textarea>
                  <label for="floatingTextarea">Message</label>
                </div>

                <button type="submit" class="form-control">Submit Form</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-6 col-12">
          <div class="contact-info mt-5">
            <div class="contact-info-item">
              <div class="contact-info-body">
                <strong>Chennai, India</strong>
                <p class="mt-2 mb-1">
                  <a href="tel: 010-020-0340" class="contact-link">
                    (020) 
                    010-020-0340
                  </a>
                </p>
                <p class="mb-0">
                  <a href="mailto:info@company.com" class="contact-link">
                    info@company.com
                  </a>
                </p>
              </div>

              <div class="contact-info-footer">
                <a href="#" class="">Directions</a>
              </div>
            </div>
            <img src="/assets/images/WorldMap.svg" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>
</main>

<script src="/assets/plugins/swiper/swiper_custom.js"></script>
<script src="/assets/js/animation.js"></script>